.form {
  display: flex;
  flex-direction: column;
  width: 300px;

  @media (max-width: 480px) {
    margin: 0 auto;
  }
}

.form__input {
  padding: 17px 20px;
  border: none;
  border-radius: 5px;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &::placeholder {
    color: #4B4B4B;
  }
}

.form__btn {
  padding: 14px 30px;
}