body {
  font: 400 14px/18px 'MuseoModerno', sans-serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure,
blockquote {
  margin: 0;
}